html,
body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}



.form-signin {
  width: 100%;
  max-width: 330px;
  margin: auto;
  padding: 15px 15px 120px;
}

.form-signin .checkbox {
  font-weight: 400;
}
.form-signin button {
  margin-top: 5px;
}

.form-signin .form-floating{
  margin-top: 10px;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.btn-icon {
    padding-top: 0;
    padding-bottom: 0;
}
.btn > .icon {
    position: relative;
    left: -.75rem;
    display: inline-block;
    padding: .375rem .75rem;
    background: rgba(0, 0, 0, 0.15);
    border-radius: .25rem 0 0 .25rem;
}
#friend_list {
    max-height: 220px;
    overflow-y: auto;
    scrollbar-gutter: stable;
}
