{% load static %}
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static "bootstrap/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "kirill_book/css/main.css" %}">
    <link rel="stylesheet" href="{% static "kirill_book/css/font-awesome.min.css" %}">
    <link rel="shortcut icon" href="{% static "kirill_book/img/logo.png" %}" type="image/png">
    <title>Kirill Book - Fast Social Network</title>
</head>
<body class="text-center">
{% block content %}
{% endblock %}
<script>
    var URL_BASE = 'http://134.0.116.80:8000'
</script>
<script src="{% static "axios.min.js" %}"></script>
<script src="{% static "bootstrap/bootstrap.bundle.min.js" %}"></script>
<script src="{% static "kirill_book/js/until.js" %}"></script>
<script src="{% static "kirill_book/js/sing_in.js" %}"></script>
<script src="{% static "kirill_book/js/register.js" %}"></script>
<script src="{% static "kirill_book/js/find_user.js" %}"></script>
</body>
</html>