{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container rounded bg-white mt-5 mb-5">
        <div class="row">
            <div class="col-md-3 border-right">
                <div class="d-flex flex-column align-items-start p-1"><img class="rounded-circle mt-4"
                                                                           width="150px"
                                                                           src="{% static "kirill_book/img/profile.png" %}">
                    <button type="button" class="btn btn-light btn-icon" style="width: 150px">
                        <span class="icon"><i class="fa fa-user"></i></span> My profile
                    </button>
                    <button type="button" class="btn btn-light btn-icon" style="width: 150px;margin-top: 5px">
                        <span class="icon"><i class="fa fa-users"></i></span> Friends
                    </button>
                    <button type="button" class="btn btn-light btn-icon" style="width: 150px;margin-top: 5px">
                        <span class="icon"><i class="fa fa-sign-out"></i></span> Exit
                    </button>
                </div>
            </div>
            <div class="col-md-5 border-right p-5">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <button class="btn btn-outline-secondary" type="button" onclick="findUser()">Search</button>
                    </div>
                    <input type="text" id='find_friend_input' class="form-control" placeholder="FirstName SecondName" aria-label=""
                           aria-describedby="basic-addon1" value="{{ find_str }}">

                </div>
                <div>
                        {% for user in users %}
                            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                                 <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1">
                                    {% if user.gender == "Male" %}
                                        <i class="fa fa-user"></i>
                                    {% elif user.gender == "Female" %}
                                        <i class="fa fa-female"></i>
                                    {% elif user.gender == "Helicopter" %}
                                        <i class="fa fa-plane"></i>
                                    {% else %}
                                        <i class="fa fa-reddit-alien"></i>
                                    {% endif %} {{ user.name }}</h5>
                                <small class="text-muted">Age: {{ user.age }}</small>
                            </div>
                                <div class="d-flex w-100 justify-content-between">
                                    <p class="mb-1">Hobbies: {{ user.hobbies }}</p>
                                    <small class="text-muted">City: {{ user.city }}</small>
                                </div>
                            </a>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}