{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container rounded bg-white mt-5 mb-5">
        <div class="row">
            <div class="col-md-3 border-right ">
                <div class="d-flex flex-column align-items-start p-1"><img class="rounded-circle mt-4"
                                                                           width="150px"
                                                                           src="{% static "kirill_book/img/profile.png" %}">
                    <button type="button" class="btn btn-light btn-icon" style="width: 150px">
                        <span class="icon"><i class="fa fa-user"></i></span> My profile
                    </button>
                    <button type="button" class="btn btn-light btn-icon" style="width: 150px;margin-top: 5px">
                        <span class="icon"><i class="fa fa-users"></i></span> Friends
                    </button>
                    <button type="button" class="btn btn-light btn-icon" style="width: 150px;margin-top: 5px">
                        <span class="icon"><i class="fa fa-sign-out"></i></span> Exit
                    </button>
                </div>
            </div>
            <div class="col-md-5 border-right">
                <div class="p-3 py-5">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <h4 class="text-right">Profile</h4>
                    </div>
                    <div class="row mt-2">
                        <div class="col-md-6"><label class="labels">Name</label><input type="text" class="form-control"
                                                                                       placeholder="first name" readonly
                                                                                       value={{ first_name }}></div>
                        <div class="col-md-6"><label class="labels">Second Name</label><input type="text"
                                                                                              class="form-control"
                                                                                              readonly
                                                                                              value={{ second_name }}>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-12"><label class="labels">Login</label><input type="text"
                                                                                         class="form-control" readonly
                                                                                         value={{ login }}></div>
                        <div class="col-md-12"><label class="labels">Age</label><input type="text" class="form-control"
                                                                                       readonly value={{ age }}></div>
                        <div class="col-md-12"><label class="labels">Gender</label><input type="text"
                                                                                          class="form-control" readonly
                                                                                          value={{ gender }}></div>
                        <div class="col-md-12"><label class="labels">City</label><input type="text" class="form-control"
                                                                                        readonly value={{ city }}></div>
                        <div class="col-md-12"><label class="labels">Hobbies</label><input type="text"
                                                                                           class="form-control" readonly
                                                                                           value={{ hobbies }}></div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="p-3 py-5">
                    <div class="d-flex justify-content-between align-items-center experience"><span>Friends</span>
                        <a href="/find_friends">
                        <button type="button" class="btn btn-light btn-icon" style="width: 150px;margin-top: 5px">
                            <span class="icon"><i class="fa fa-user-plus"></i></span> Find friends
                        </button>
                        </a>
                    </div>
                    <br>
                </div>
                <div>
                    <ul class="list-group">
                        <li class="list-group-item">Cras justo odio</li>
                        <li class="list-group-item">Dapibus ac facilisis in</li>
                        <li class="list-group-item">Morbi leo risus</li>
                        <li class="list-group-item">Porta ac consectetur ac</li>
                        <li class="list-group-item">Vestibulum at eros</li>
                    </ul>
                    <button type="button" class="btn btn-light btn-icon" style="width: 300px;margin-top: 5px">
                            <span class="icon"><i class="fa fa-users"></i></span> All friends
                        </button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}