{% extends 'base.html' %}
{% load static %}
{% block content %}
    <main class="form-signin">
        <form>
            <img class="mb-4" src="{% static "kirill_book/img/logo_big.png" %}" alt="">
            <h1 class="h3 mb-3 fw-normal">Register</h1>

            <div class="form-floating">
                <input type="text" class="form-control" id="register_login" placeholder="login">
                <label for="register_login">Login</label>
            </div>
            <div class="form-floating">
                <input type="password" class="form-control" id="register_password" placeholder="Password">
                <label for="register_password">Password</label>
            </div>

            <div class="form-floating">
                <input type="text" class="form-control" id="register_first_name" placeholder="Ivan">
                <label for="register_first_name">First name</label>
            </div>

            <div class="form-floating">
                <input type="text" class="form-control" id="register_second_name" placeholder="Ivanov">
                <label for="register_second_name">Second name</label>
            </div>
            <div class="form-floating">
                <input type="text" class="form-control" id="register_age" placeholder="Ivanov">
                <label for="register_age">Age</label>
            </div>

            <div class="form-group">
                <label for="register_gender">Gender</label>
                <select class="form-control" id="register_gender">
                    <option>Male</option>
                    <option>Female</option>
                    <option>Helicopter</option>
                    <option>Offer</option>
                </select>
            </div>
            <div class="form-group">
                 <label>Hobbies</label>
            </div>
            <div class="form-group">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="register_football" value="football">
                    <label class="form-check-label" for="register_football">Football</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="register_game" value="game">
                    <label class="form-check-label" for="register_game">Game</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="register_tv" value="tv">
                    <label class="form-check-label" for="register_tv">TV</label>
                </div>
            </div>

            <div class="form-floating">
                <input type="text" class="form-control" id="register_city" placeholder="Rome">
                <label for="register_city">City</label>
            </div>

            <button class="w-100 btn btn-lg btn-primary" onclick="registerUser()">Register</button>
        </form>
    </main>
{% endblock %}