{% extends 'base.html' %}
{% load static %}
{% block content %}
    <main class="form-signin">
        <form>
            <img class="mb-4" src="{% static "kirill_book/img/logo_big.png" %}" alt="">
            <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

            <div class="form-floating">
                <input class="form-control" id="sing_in_login" placeholder="login">
                <label for="sing_in_login">Login</label>
            </div>
            <div class="form-floating">
                <input type="password" class="form-control" id="sing_in_password" placeholder="Password">
                <label for="sing_in_password">Password</label>
            </div>

            <button class="w-100 btn btn-lg btn-primary" onclick="sing_in()">Sign in</button>
            <a href="/register">
            <button class="w-100 btn btn-lg btn-primary" type="button">Register now</button>
            </a>
        </form>
    </main>
{% endblock %}